@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

main {
    margin-top: 1%;
    margin-left: 19%;
    margin-right: 19%;

    @include respond-to("phone") {
        margin-left: 3%;
        margin-right: 3%;
    }
    @include respond-to("tablet") {
        margin-left: 3%;
        margin-right: 3%;
    }
    @include respond-to("large-tablet-small-desktop") {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .fl {
        display: flex;
        user-select: none;

        @include respond-to("phone") {
            margin-bottom: 8%;
        }
        @include respond-to("tablet") {
            margin-bottom: 5%;
        }

        @include respond-to("large-tablet-small-desktop") {
            margin-bottom: 6%;
        }

        p {
            margin: 0;
            position: relative;
            left: 12%;
            top: 1px;
            font-size: 18px;

            @include respond-to("phone") {
                font-size: 13px;
                position: relative;
                left: 17%;
                top: 2px;
            }
            @include respond-to("tablet") {
                position: relative;
                left: 11%;
            }

            @include respond-to("large-tablet-small-desktop") {
                position: relative;
                left: 19%;
            }           
        }

        .button {
            position: absolute;
            text-decoration: none;
            padding: 2px 8px;
            border: 1px solid black;
            border-radius: 4px;
            margin-left: 50%;
            color: inherit;

            @include respond-to("phone") {
                position: absolute;
                left: 5%;
                font-size: 13px;
                padding: 1px 6px;
            }
            @include respond-to("tablet") {
                position: absolute;
                left: 21%;
            }

            @include respond-to("large-tablet-small-desktop") {
                position: absolute;
                left: 17%;
            }

            &:hover {
                border-color: transparent;
            }
        }
    }
    .sl {
        user-select: none;
        margin-top: 3%;

        @include respond-to("phone") {
            display: grid;
            place-items: center;
        }
        @include respond-to("tablet") {
            display: grid;
            place-items: center;
        }
        @include respond-to("large-tablet-small-desktop") {
            display: grid;
            place-items: center;
        }

        .randombutton {
            background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(75, 0, 130, 0.5), rgba(238, 130, 238, 0.5));
            text-decoration: none;
            padding: 5px;
            border-radius: 4px;
            margin-left: 86%;

            @include respond-to("phone") {
                margin: auto;
                padding: 3px;
                font-size: 16px;
            }

            @include respond-to("tablet") {
                margin: auto;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 50px;
                padding-right: 50px;
                font-size: 18px;

            }
            @include respond-to("large-tablet-small-desktop") {
                margin: auto;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 30%;
                padding-right: 30%;
                font-size: 18px;
            }

            @include respond-to("desktop") {
                margin-left: 80%;
            }

            color: white;
            font-size: 18px;

            &:hover {
                
            }
        }
    }
    ul {
        position: static;
        left: 20%;
        margin-top: 12%;

        @include respond-to("tablet") {
            margin-top: 12%;
        }

        @include respond-to("large-tablet-small-desktop") {
            margin-top: 12%;
        }

        li {
            font-size: 19px;
            margin-top: 1%;
            margin-bottom: 3%;
            padding: 1% 0;

            @include respond-to("phone") {
                margin-bottom: 3%;
            }

            @include respond-to("tablet") {
                margin-bottom: 3%;
            }

            @include respond-to("large-tablet-small-desktop") {
                margin-bottom: 3%;
            }


            a {
                text-decoration: none;
                @include respond-to("phone") {
                    font-size: 14px;
                }

                @include respond-to("tablet") {
                    font-size: 15px;
                }

                @include respond-to("large-tablet-small-desktop") {
                    font-size: 22px;
                }

                &:link,
                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
}