@import 'poem';

$h1-font-size: 20px;

body {
    main {
        h1 {
            @include respond-to("phone"){
            font-size: $h1-font-size;
            }

            $h1-font-size: 23px;
            
            @include respond-to("tablet") {
            font-size: $h1-font-size;
            }

            $h1-font-size: 28px;

            @include respond-to("large-tablet-small-desktop") {
                font-size: $h1-font-size;
            }
        }
      }      
    }
