html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 能性という真実
    link(rel="stylesheet", href="/styles/poem22.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 能性という真実
      
      .lpara
        p おれは花じゃない、ということ。
        p 能(や)る、ということ。

    footer 
      p.page
        a(href="poem21.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem23.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.