html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 詩をかいてくれてありがとう
    link(rel="stylesheet", href="/styles/poem20.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 詩をかいてくれてありがとう
      .para
        p 君は絶対に生きてくるべきだったんだ。
        p と、俺は言う。

      .lpara
        p 哀愁ってズルいよな。俺そういうことしないぜ。
        p ただ、ただ....OK
        p だろ、

    footer 
      p.page
        a(href="poem19.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem21.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.