html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 若
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 若
      .lpara
        p 何も忘れなければ、
        p 花は必ず咲く。
        p ほら。
        p わかる？
        p 今は我慢？はたまた葛藤？週末に発散？
        p りょー、かい。。

    footer 
      p.page
        a(href="poem52.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem54.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.