html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 人の時分
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 人の時分
      .para
        p もう当分あの流れに乗ることはできないだろうと思っていた。
        p 全ての瞬間が開花に向かって諦めているあの流れに。
        p これから起こるはずの爆発の余韻が漂っているような。
        p それは巡ってきた。
        p あの時と同じ匂いだ。
        p あの時と同じだ。
        p ただ見ていると、救われたがっている姿が映り込んでくる。
        p 見る。
        p この人は何も変わってないんじゃないか？
        p いいや、結構変わった。歳をとった。死んだ。

      .para
        p 流れる。
        p 見る。

      .para  
        p 能る。
        p 見る。

      .para
        p 能る。

      .lpara
        p 言葉では語れないな....余地がないというかさ。
        p ただ生活するしかないみたい。
        p それってむしろ楽しそうだね。言葉にすると....

    footer 
      p.page
        a(href="poem4.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem6.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.