html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 入
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 入
      .para
        p 「見てもいいですよ….
        p (というか)見て下さい。」

      .para
        p センサーが穴を捉え、位置を絞ったら、、終わりの始まり。
        p 主導権の無い場では、自分もただの穴であることに気づく。
        p 点在するアンテナが、現象をありのままに映し出す。
        p でも無駄か？この記憶は。
        p (かっこ笑い的な....)

      .para
        p 空間はいつ、いかなる時も完璧である。
        p 俺がどこの誰かも知らずに、入るのを許す。
        p この若き健康体から産み出されるホルモンが、
        p そうしているのだと思うと、馬鹿馬鹿しいが、同時に、
        p この人も俺も生物なんだと思えば、清々しい。
        p 家と庭をセッティングするからさ、そこで一緒に営もう。
        p 何を、じゃなくて、営むの。

      .para
        p いっぱいお食べと言われると、
        p 沢山食べたくなる。
        p 守られ、守れたときは、どんどん素直になれる。
        p 父が賢ければ、完成された惑星も切り拓ける。

      .para
        p 虚無にぶちまけたい。

      .para  
        p 俺たちは危機にいる。腐敗と死へ向かっている。
        p 日々を営むあなたは、そのことを忘れていたから、
        p 俺を引き寄せたのか。
        p あなたは幸せですか？
        p 俺は死なないだろう。というか、能る。
        p だからか….

      .lpara
        p 危機の無い時間にあなたと居れたら、めちゃくちゃハッピー。
        p だよなー。
        p でもこのSubspace(危機)が無ければ、一秒たりとも息できない。
        p 人間はSubspaceしか見ることが出来ないし、
        p 人間とはSubspaceなのだ。
        p 矛盾。呼吸。時空。雌雄….

    footer 
      p.page
        a(href="poem3.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem5.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.