html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 完璧な夏
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 完璧な夏
      .para
        p 完璧な夏は訪れるものです。

      .para
        p 或る人の誕生と死。
        p 或る女の敬虔と微笑。
        p 或る人の涙と歓喜。

      .para
        p なんでそんなに美しい日があっていいのだろう。
        p なんで？（と問うしかない）
        p ただ生きる、それだけでは決して果たされない日があるんだよ。
        p なんで存在があるってこんなにも素晴らしいのだろう。
        p それはただ並行世界を惰性で巡ることじゃない。
        p 爆発、流出、想起、復活
        p なんでこんなに、「私は在る」ということが、こんなにも、こんなにも、素晴らしいの？
        p なんであの人や、あの人が生きている、あの人が生きていることは
        p どこまでも素晴らしいの？

      .lpara
        p あぁ....

    footer 
      p.page
        a(href="poem36.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem38.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.