html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 片手にワイン、話す
    link(rel="stylesheet", href="/styles/poem34.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 片手にワイン、話す
      .para
        p 君が居る。
        p 幸せがある。
        p 片手に持ったワイングラスと中身は、
        p 言語のように、緩衝材の役目を縁時ている。
        p (手に持っているそれは、君と私の仲介人みたいで、ある)
        p 君はそれを左胸の辺りに置いている。
        p なんだろう。
        p 「(ここに動詞が入る)？」みたいな表情をして。
        p 不思議なんだよね。
        p その姿を見たら、私たちの本来の安全圏、
        p その印象が、いとも簡単に、スムーズに広がった。

      .lpara
        p 安らぎの内でふつうに関わった。
        p 安らぎの内？
        p 関係の内で？
        p 絆を飲んで、想い出すようにして。
        p 強い背骨においては、時系列は道具だ。玩具の場合もある。
        p 今、私は写真を______〜〜....
       
    footer 
      p.page
        a(href="poem33.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem35.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.