html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 現れたグッド・パーソンとキッド達
    link(rel="stylesheet", href="/styles/poem21.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 現れたグッド・パーソンとキッド達
      
      .lpara
        p 一目見て、何となく感じるグッド・パーソン。
        p 現れしグッド・パーソン。
        p 内なる能動性は花となり、ママは中性的であり、キッド達は慎ましい。
        p 遠いところから来たのだ。空も飛んだでしょう。
        p 総て善いのだ。
        p shinichiは見送ってテンきゅうベリマチと言った。
        p Good luckをこめて。

    footer 
      p.page
        a(href="poem20.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem22.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.