html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title subspaceだから、いい。subspaceでよかった。take.2
    link(rel="stylesheet", href="/styles/poem42.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 subspaceだから、いい。subspaceでよかった。take.2
      
      .lpara
        p うーん、なんか違うなぁ....
        p うん笑そりゃそうだよ笑
        p だってここ亜空間笑
        p いつまで言ってんの....

    footer 
      p.page
        a(href="poem41.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem43.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.