html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title ダンス、shinichi
    link(rel="stylesheet", href="/styles/poem19.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 ダンス、shinichi
     
      .lpara
        p ダンスを踊れ。
        p .....

    footer 
      p.page
        a(href="poem18.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem20.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.