html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title ヴォン(なにかしらの音)
    link(rel="stylesheet", href="/styles/poem38.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 ヴォン(なにかしらの音)
      .para
        p 遠すぎる幻想と近すぎる幻想。
        p 両方を視野に収める。
        p どっちかを過信しすぎると、眠くなってくる。
        p その回転が遅すぎると、まるでルーレットを回しているかのように、
        p 支離滅裂になっていく。寝言を言う、眠いやつになっていく。
        p 膨張するバブルを見破れ。
        p 無限に展開される並行世界を腹に蔵めろ。
        p 加速する幻想が己の圏内を離れる前に飲み込め。

      .lpara
        p わからないことにしか賭けることはできない。
        p わかりきったことに賭けたくはならないし。
        p だから、楽しみたい。
        p でも、発散では終わらせない。
        p 強く、強く。破壊と創造。破壊。

    footer 
      p.page
        a(href="poem37.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem39.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.