html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 
      .para
        p 
        p 
        p 

      .para
        p 
        p 
        p 
        p 
        p 
        p 
        p 

      .para
        p 
        p 
        p 
        p 

      .para
        p 
        p 
        p 
        p 

      .para
        p 
        p 
        p 
        p 

      .lpara
        p 
        p 
        p 
        p 

    footer 
      p.page
        a(href="poem.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.