html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title その空白、火をつけてみよう
    link(rel="stylesheet", href="/styles/poem14.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 その空白、火をつけてみよう

      .lpara
        p Empty。潤沢な資源。暮らし。
        p 手に入れられない人の方が多い。
        p 手に入れても使い方がわからない。
        p だから、Empty。
        p 広ければ広いほど、途方に暮れる。棒に振る。
        p 深ければ深いほど、溺れたら助からない。
        p でも、Empty。されど、Empty。結局、Empty。
        p 窒息しそうでも、自分色に染めないで。何回目？それが輪廻。
        p Empty、それが才。持ってるのなら仕方が無いんじゃない？
        p もう一度。それがEmpty。マジマジと見てもしゃーない。
        p もう充分だよ、Empty。燃やそう。
        p 視線の先は色で溢れてる。それもEmpty。
        p 美しいじゃないか、可愛いじゃないか。綺麗じゃないか。忘れることだ。
        p よく燃えている。燃料が尽きない。尽きない。
        p そうそう！この続きを書かなければいけない！！
        p 俺は幸せ。この先も....
        p 愛する人がいる。幸せなことだよ。
        p 全然Emptyじゃない。大地。水。次世代。そのまた次世代。明日。
        p そのまた明日。近未来。
        p これが本当のEmpty。とかね。

    footer 
      p.page
        a(href="poem13.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem15.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.