html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 受性マジ、ガチ(真)
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 受性マジ、ガチ(真)
      .para
        p 吸い込まれ、
        p 捕まった。
        p 強烈な。見なければいけない？
        p そして見るが....

      .para
        p それは受け入れているのではなく、拒んでいるのさ。
        p 誘っているのではなく、断っているのさ。
        p 自己愛という不本意、だからこその不幸。
        p 感覚という渦。閉じた記憶の悲鳴。

      .lpara
        p 突如後方に現れたシリウスみたいに、
        p 確かにあなたはいつか、見られたのだ。
        p そして、還るのだ。
        p 見られてしまったのだ。
        p だから、還るという。

    footer 
      p.page
        a(href="poem30.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem32.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.