html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 春風薫るも人生の冬 -あのときはごめん-
    link(rel="stylesheet", href="/styles/poem7.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 春風薫るも人生の冬 -あのときはごめん-
      .para
        p 全てを望んで手を伸ばした大空
        p 無垢の限り、鬱屈したエナジーとともに、
        p もちろん全てを賭けていた
        p あの時おれは地獄にいたんだよ
        p 君には青く見えたのかもしれないけれど

      .para
        p 自分自身が無条件に空虚なものなんだって
        p そういうものなんだって
        p あの時何かの雷に打たれて
        p 気づけていたらよかったんだけど

      .para
        p 無ぇ。
        p 無ぇーことにいいも悪いも無いよね

      .para
        p あのさ
        p 君と話すことないんだ
        p これについて話す？
        p 笑えるね、面白いよね.楽しいね.かわいいね、

      .para
        p あのさ、

      .para
        p あの...
      .para
        p  あのさ…

      .lpara
        p しぬか！

    footer 
      p.page
        a(href="poem6.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem8.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.