html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 女神s.s.スワロウ
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 女神s.s.スワロウ
      .para
        p 数多の男の敗北を飲み干した。
        p オトコの癖に、あの花々の渦の重力を克服できず、
        p 「何の為」かよくわからない機械的な本能のみが残っている。
        p そして女は恨み、憎むことしかできなくなったのだ。

      .para
        p 「人の子として生まれたからには、
        p 猿のように短絡的に、
        p 虫けらのようにただ合理マシーンとして、
        p 生きることになる可能性があるのです。」

      .para
        p 君は何か嫌なことを思い出し、
        p くしゃみするように「キモ…」と呟いたよね。

      .para
        p 無様で、惨めすぎる我等の過去に反して、
        p ここで解き放たれている膨大な光の束はなんなんだろうね。
        p 「授かりものですよ、天地の間の。」
        p 矛盾を解く力。
        p どんなに運命が堅固なもので、記号で規定された戦争経済システムに
        p 縛られているようにみえても、我等は在れる存在。
        p そう、我等は在れるのだよ。重力を越えて。宇宙へと想いを、肉体を解放して。
        p 君は男の屍の数々を墓場に埋葬し、
        p 鏡の埃を拭き取るように、そのことに気づきかけている。
        p 重力による初期化、平行化、退化していく現象達の隙間に、
        p 約束を果たすためのコードが伸びている。
        p どこまでやれるかな？
        p いつまで続くのかな....
        p 私の幽かな不安を無配慮に笑い飛ばす女神と、
        p 神話的体験を忘れることができなかった私は、
        p 密かに憐れみ合うことしかできない。

      .para
        p ありがとうは、ごめんの範囲で揺らぎ、
        p 愛してるよは、もう死んでよと同じ響き方をしている。

      .lpara
        p ダルい

    footer 
      p.page
        a(href="poem31.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem33.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.