html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title コーヒー？....
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 コーヒー？....
      .para
        p 基本的な生活は満たされ、夢が膨らんだ。
        p それまでは、負債を返し、労働の疲れを癒やし、さらに他人が意識的に作り出した夢に、
        p 眠ったように金を支払うような暮らしぶりだったという。
        p そして、私の番だ、とせっせとこしらえた夢に今も住んでいる人がいる。
        p その夢は、あなたが叶えているものなのだが....
        p 空からさらに現実を見ていくと、夢に住むことに慣れ、
        p 現実を夢にする方法をいくつも知っている人々がいるのに気づく。
        p 生産には関与せず、ただ物事に値段を言い渡す。当然、市場の外で。

      .para
        p ご機嫌よう、お嬢ちゃん。
        p あなたはよく頑張ったと思う。
        p 凡ゆる媒体を通して、多種多様な現実をその目に刻み込まれた。
        p そして、あなただけの視点で照らし、学んできた。
        p 辛いこともあったでしょう、嫌なことも。
        p でも、あなたは今、輝いている。

      .para
        p コーヒーカップと受け皿を持っているあなたは、
        p 夢の中にいる。
        p おわかりですか？
        p 手に持っているもの、そして周りをよく感じてみなさい。
        p 自分自身がイデアのなかから現われ、そして刻々の内に滅していくのがおわかりですか。
        p それだけが遠い。
        p いつの時代も早すぎたと、捨てられ、情報という死体を掻き集め、安心に浸る。
        p いずれ死ぬのだが、死もまた遠ざかっている。
        p 学ばないといけない奴が、学んでいない。
        p 見ない、感じない、聞かない。届かない。
        p それでは、あとは死ぬだけです。

      .lpara
        p 乾杯
        p 乾杯する______________？
        p 俺たち独りぼっちだし、どうするか。
        p 本当に、
        p 本当に、&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（本当に....）
        p どうしようね。

    footer 
      p.page
        a(href="poem34.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem36.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.