html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 花々
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 花々
      .para
        p 人の想像も、推測も遥かに超えた
        p 神妙な揺らぎ、始まりの瞳は、
        p 目に映るものを一瞬一瞬の内に悉く解放し、
        p 時間を越えながら、それでも全ての要素と性質を
        p 宇宙の末端まで、空間を随えて浸透させた。
        p （なぜそのようなことが可能だったかといえば、あなたが目に映した現象と、
        p あなたの体の像が重なり合い、発火-スパークしたからである。）
        p 永久に散開するその運動は、人を誕生させるために、
        p または人が誕生したことによって、時間という過去に、形による軌跡を残し、
        p 神々と遜色ない色彩を纏って開花した。
        p それはあたかも、万彩の光芒が織り成す嵐の如き不可侵のパレードが、
        p 人々をいつまでも、いつまでも強烈に、鮮烈に祝しているかのようだ。

      .para
        p やがてそれも幻想にまで沈んだ。
        p 昨日や明日に生きる人々はその壁の長さや高さ、法則を、
        p 戦争を生む稚拙な文法で無際限に記述している。
        p だがあらゆるものを産んだ創造の歌の音色はそれでもやはり
        p 時間に埋没しているような人々の予想よりもずっと騒々しかったらしい
        p （あの詩は私に届き、この詩はあなたに届いているではないか）。
        p この歌は狂想曲でもあるのだ。あなたの背骨に潜在された。

      .lpara
        p あなたは時空なので、あまりにも素晴らしい知覚作用でもってして、
        p 憎悪が渦巻くパンドラの箱と化してしまった花々を、元のように爆発させ、
        p 来たるべき広大な空間に、女偏が付く諸々の感情とともに吹き飛ばしてあげればいい。
        p そして花は花であることを存分に誇るがいい。
        p 人は時空の花だ。

    footer 
      p.page
        a(href="poem45.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem47.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.