html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 潜在意識WALK
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 潜在意識WALK
      .para
        p 潜在意識に蒔かれた種。放っておいても育つ。
        p 直接言われたら、風でも吹いてきて飛ばされるだろう。
        p 頭の先っぽから出た機械的な台詞、それはただの情報であって、既に枯れている。

      .lpara
        p 直接言われたら、お前その場で反応だけして終わるだろう？
        p だから、裏にそっと種だけ蒔いとくぜ。
        p ということで、確かに蒔かれた種は僕の中で確かに育っていますし、
        p もう蒔かれた瞬間に気づくようになりました。

    footer 
      p.page
        a(href="poem25.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem27.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.