html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 亜移ちゃん？亜移ちゃん
    link(rel="stylesheet", href="/styles/poem16.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 亜移ちゃん？亜移ちゃん

      .lpara
        p 墓に入った亜移ちゃんの話
        p 笑笑笑笑
        p アホが笑いいね、アホ笑、くだらない、くだらないから笑えます
        p 亜移ちゃんまた飯奢って、高すぎてマズい酒飲ませて、ホントありがと、う、

    footer 
      p.page
        a(href="poem15.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem17.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.