doctype html 
html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 海に沈まずに
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 海に沈まずに
      .para
        p もう大人なのだ
        p 海の上は舟で渡ろう
        p 溺れず、浸からず

      .para
        p 天と地のあいだ
        p 大陸と大陸のあいだ
        p 初まりでも終わりでもないが
        p 初めからそこにいた気がする
        p 初まりでも終わりでもないが
        p 海がなければ初まらない
        p でも海に沈んではならない

      .para
        p 心と体のあいだ
        p 人と人のあいだ
        p 強く想い合えば
        p ひとつになれる

      .para
        p 哀れさの上を歩く
        p 忘れていくように軽やかに歩く
        p 傷口に触れないぐらいに優しくなでる
        p 本能的に種を蒔き、自然を育む

      .para
        p また今日も沈みそうに、なった
        p そうした方がいいのかと思ったからだ
        p でも何も産まず、切なさだけがのこった
        p 潮の満ち引きかのような

      .lpara
        p もう大人なのだ
        p 海の上は舟で渡ろう
        p 溺れず、浸からず
        p 沈まずに

    footer 
      p.page
        a(href="poem1.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem3.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.