html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title モダンプレッシャー
    link(rel="stylesheet", href="/styles/poem36.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 モダンプレッシャー
      .para
        p 生きものへの、LIVEへの憧れ。
        p 私たちの体内には凡ゆる生命種の霊気が（霊という言葉、ほんとは使いたくないのだが、雰囲気だ）纏われている。だから、如何なる表現も、その欲求も究極言ってしまえば自然なものでしょう。何かを正常と定めれば、何かは異常になるのだが、全ての河川の流れが海や湖に繋がっていくように、それが＜現象＞であれば、全ては正常であるといえるよ。私たちは分離していないんだもん（だもん笑）。または全ては異常であるとも。結局、そんなのどうでもいいってことだ。

      .para
        p 人が生を志向していくほど、原始回帰してしまい、文化や学問ごと失ってしまうパターンがある。グローバル資本主義の網から逃れようと都会を離れ、シベリアで自給自足を始めた家族のドキュメンタリーを見たが、彼らの衣服はアメリカでデザインされ、アジアの工場で大量生産されているような「Tシャツ」やジャケットであった。なんか空から軍人が降りてきて、ここお前達の土地じゃないよ、出てけ？殺すぞ？とライフル銃を持ちながら領有権を示してきたりする一幕もあったし、川の対岸のご近所さんとも資源の分配で揉めていた。例えそれらの軋轢が無かろうと、彼らの行く末、成長の先にも何も変わらない資本主義があるだろう。もう、実質、辺境に移り住んだグローバリストだ。アイデンティティーはどこにある？何世代も前に奪われたのだろう。

      .para
        p 人が安全を求めて、過去の遺物を志向するほど生が失われて行くパターンがある。そして他の生を圧迫する。学問的、文化的教養のある者たちは演繹的に物事を語るし、その根拠は権威のお墨付きなので、過去はその合理性とともに繰り返される。記号で示された合理は必ず対立と支配がセットだ。だから過去に縋った生は自滅する方向を向いており、腐敗臭が漂っている。

      .para
        p 技術は発達し、物が溢れ暮らしは便利になっているのに、どこからか虚しさが襲ってくる。でもこの虚しさがどこからきてどこへ向かうのかを知る人はいない。情報が民主化され、頭がよくて、器用で、それなりに問題意識の高い人が表層にあらわれ、全体に理路整然とした論理を投げかけようと、いつも何かが足りない。何かが違う。そしてそういうのは人を疲れさせる。愛が無い？繋がりが必要？システムの問題？お金の問題？まだ何か言わないといけない？（オピニオンリーダーの殆どが雇われではないでしょうか？）言えることは、戦いに敗れたということだし、敗れたのなら存在ごと賭けないといけないってことだな。人間存在に、その己の生気に誇りが、また出逢ってきた人に誇りを持つなら、アイデンティティーなど楽に求めず、情報に縋りつかず、それでいて副次物は全て相対化して道具として使えばいい。それが存在に肉薄していればしているほど、生は味方につく。虚しさではなく、生々しい体験が襲ってきて、聯鎖していくだろう。忘れられないような。

      .lpara
        p ん？それが結論？
        p 俺が言いたいのは起きろってことだ。

    footer 
      p.page
        a(href="poem35.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem37.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.