html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 安らぎ
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 安らぎ
      .para
        p ここが一番安らぐ。
        p もう無理しないで。
        p ここにいてもいいの、よ。
        p 「ここにいてほしいけど言えない….」
        p 「ここにずっと居るのは申し訳ない….」
        p <<「「そわそわしてめちゃ、気まずい....」」>>

      .para
        p 好むことの罪悪感、遠慮。
        p 嫌われることへの不安。
        p そうして行われる取引と計算。
        p 実際お互い全然好きじゃないんだよ。だから気にしなくていいと思う。

      .para
        p 感覚を研ぎ澄ます。
        p それに従って、
            ruby 能
                rt や 
            ruby る。
        
      .para
        p 花を見るとき、我々は祝福を受ける。
        p そこに空間(縁起)が発生しているのがわかるかな。
        p 見るものと、見られるものの間ってやつだな。
        p 能性と受性の間。
        p 開かれた空間に能性が浸透し、活躍するごく自然な運動性。
        p 抽象度が下がり、低速化すると本能とか欲望っていわれる。
        p 原始的であり、そうであるために多次元に普く。
        p (止揚され、高みに至るほど高速化していき、やがて現在の我々には見えない、知覚不能な運動になる。
        p それを<可>能性という。その分空き間も拡がるよ！)

      .para
        p 花を見て空間が発生しなければ、それはどう頑張ってもあなたの花たりえない。
        p (誰のせいでもない。)
        p そして花を見るとき、我々は自身の内なる花を見ている。
        p 自身の内なる花に重ならない花を見ても、スペースは生まれないし、
        p そのため、
            ruby 能
                rt や
            ruby る気も起きない。
        p だから自分の感覚や感性には正直になったほうがいいよ。
        p そうでないと、執着、自傷、依存は免れられないだろう。

      .para 
        p どんな能性もバカにしないほうがいい。
        p 能性自体はいつも＋なので。

      .para 
        p どんな受性もバカにしないほうがいい。
        p 鏡だからね。

      .para 
        p 内なる花を縁取り、それを誤魔化さない。
        p そしてあなたはあなたでしかない。
    
      .para 
        p 受性と能性。
        p 両性死を想へば明るい国生まれる。
        p それがどれだけ安らぎに満ちていることか。

      .lpara
        p あとは思い切り
            ruby 能
                rt や
            ruby れ。
        p それが一番安らぐ。

    footer 
      p.page
        a(href="poem24.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem26.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.