html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title ちから
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 ちから
      .para
        p ゲームをするからには楽しめよ！w（勝ってもつまらなかったら時間のムダだろ?!wおまけに戦利品はお前を条件付ける!!w）

      .para
        p 力を自覚したら、無力化する。"ガチ"のゲーム、勝負はそうやって始まる。

      .para
        p 歴戦の王は、それに気づかざるを得なかった！？
        p 賢者が、「力とは確率のことに他ならない。主・従が限定されている場合、効率とも呼ばれます」と、以前教示したことが影響したか….？
        p 無敗(∞勝)のクソピエロはそれが可笑しくて（嬉しくて）絶対にゲームを辞めさせまいと、王様の力を抜く。裸だったことに気づかせる。無力化し、野生を引き出す！！

      .para
        p 一方で、
        p 強者たちは、「力は、ゲームの上手さとかセンスでしょう？それがないと勝てませんよ。」と自身の勝率を示し、それぞれ証言した。......がんばれ！

      .lpara
        p 楽しも、楽しいゲームを

    footer 
      p.page
        a(href="poem47.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem49.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.