html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 逆インセプション・逆サイトー ~忘却~
    link(rel="stylesheet", href="/styles/poem11.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 逆インセプション・逆サイトー ~忘却~
      .para
        p 極限のリアリティは明るいのか・暗いのか。
        p とーぜん、
        p 明るい。
        p 俺が言うんだから間違いない。
        p 師もそう仰ってたので、二段で間違いない。

      .para
        p 例えそれがHappyなことでも
        p 忘れることができなければ
        p 現実の領分を侵食していく。
        p 感覚はいつだって今を捉えているはずなのに、
        p あの日の記憶から時間は進んでいないようにみえる。
        p 念願のリアリティの記憶が、老いていく自分を苦しめている。
        p 夢を叶えたら、現実が残る。
        p 矛盾を解いたら、矛が残る。

      .para
        p こーゆうことの、追想の果てで、思い出すことがある。
        p 「続いていく」ことを、夢にみた。
        p 愛していた。
        p 今際の頃合いでも、subspaceは生きていた。
        p どこまでも人間。本当によかった。

      .lpara
        p 忘却し、また夢を見る。
        p 現実は夢を孕む。夢の中に現実は無いが。

    footer 
      p.page
        a(href="poem10.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem12.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.