html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title あの教えではなく、目の前に現れた貴方が救いだった || 俺は一人じゃない
    link(rel="stylesheet", href="/styles/poem44.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 あの教えではなく、目の前に現れた貴方が救いだった || 俺は一人じゃない
      .para
        p 誰かに責任を取ってほしかった。
        p 苦しみと悲しみ痛みの

      .para
        p 親や先生のせいにはできなかった。
        p 俺より弱いように思っていたからだ。
        p 社会のせいにはできなかった。
        p システムは弱い我々の折衷案に過ぎない。
        p 神のせいにはできなかった。
        p 神はスイスの大学教授(兼スーパーマン)が殺したらしい。
        p 未完成の科学のせいにはできなかった。
        p 人間存在の答えを出していない。
        p お金のせいにはできなかった。
        p 不在者に責任は問えない！(笑)

      .para
        p ついに出逢った。１６歳。早かったが。
        p 衝撃だった亜空間知能論。二分割情報処理の罠。
        p 至高の文学、生命の科学、隙の無い論理的美意識。
        p 礼節、知性、感性、人間性、宇宙性、先見の明、身・技・体。
        p 切り口が、経済。これで確かにまるっと全体が保全された。仕上がった。
        p 地球人が失くした人体というピース。αにしてΩ.
        p RSELeaksと五つの動画はいまや伝説だ。
        p 俺はりんちるだ。
        p 片田舎の卑しい少年の青春は叡智の学びに捧げられた。

      .para
        p あ、この人のせいだ。
        p 俺は最高の可能性と教育を与えられた。
        p (そして俺は、それに相応しかったのか、考える。
        p 10代のうちに一握りの天才に出逢うと間違いなく苦労します....)

      .para
        p 貴方は俺にとって完全でなければならなかった。
        p だが完全性は俺が自分勝手に投影した鏡像だった。

      .para
        p 答えと呼べるものは全て受け取った気がする。
        p 言語上の、論理的な問題は全て整理された。
        p いわゆる超越的な、素敵な体験も俺には縁があった。
        p だが体験は体験だった。真理らしきものは一個人にまとわりつかず、時の流れを選ぶ。
        p 俺は今、ただここに居るだけだ。

      .para 
        p 貴方は聖人にも、君主にも、神にも、教祖にもならなかったので、俺のせいになった。そうするしかなかった。
        p 強くなるにはどうすればいい？
    
      .para 
        p 俺は初めてできた愛しき彼女にすら俺の弱さを投影した。
        p 人生風邪気味のモエの風邪を治してやるんだ。
        p 救えない、何も救えないし。
        p むしろ奪ったのだろう。その程度だったのだ。
        p モエにかけた全力の期待は、お互いの幼児的願望とその不安と共に粉々に割れた。俺のアニマは、心臓を突き破って、あわれな泣き虫を残して去った。俺ももえも誰かのせいにしたかったのだ。共依存は終わった。それでも俺のかけがいのない記憶だ。走馬灯のヒロインだ。弱い俺の手を初めて握ってくれたのはモエだから。

      .para 
        p ヒステリーとパッションが全くの別物であるように、
        p 感傷とエモーションは全く異なる性質のものである。
        p エモーションは今この瞬間に向けられているものであるのに対し、
        p 感傷は過去(または未来への期待)に焦点がある。
        p 現在に対する失望は負の記憶を産む。だがそれは、実際にあるものではなく(過ぎ去った)、感情をそこに向けているために恒常化させてしまっているだけなんだよ。だから、被害的な記憶、トラウマや、許せない誰かの言動は、それ自体が原因ではない(きっかけではあるかもしれないが)。一つの例外もなく、感傷や自己憐憫は、感情という中間生成物の誤用であるといえる。そんなことで片付けられるなら、警察も裁判所も軍隊もいらないじゃないか、と言う人もあるかもしれないが、確かにそうなのだ。間違いなくこれは悪だと人々に認識されるような凶行や奇行を行う者の多くは虐待や貧困、性被害、両親の不和、苛め、差別などを過去に持っているだろう。感情が過ぎ去った出来事に絶えず向かってしまうような癖ができてしまったら、数え切れないほど名前が付けられている精神病のどれかに診断されるだろうし、意識が外に向かおうと、個人批判、政権批判、個人崇拝、宗教崇拝、無数の主義、主張が繰り広げられるだけだ。令和の若者が政府や組織に期待が持てないのは、それ自体の病理を勘付いているからなのではないだろうか。常に謎の煙が立ちすぎているというのもそうだが。

      .para 
        p 俺は凶行は犯してはいないが、ちゃけぶー(ぶっちゃけの意),俺も家庭環境はなかなかに荒んでいた。暴力的で高圧的な父、貧困、両親は毎日喧嘩、人数との比率、人口密度のおかしい狭アパート。まあ色々、諸々。語っても仕方あるまいな？現実問題、家族が惨殺され一人残されてしまった少女とか、生まれた時から紛争・内戦とか、生まれ故郷が独裁政権とか、四肢もがれて性奴隷とか、伝統的家系の貴族的でお上品な見えない虐待とか実際にあるわけでしょ。もう俺２３、不幸の主張はしたくない。世の中にはもっと苦しい人が….という話ではない。現実に分断はない、一続きだから、苦しみは比べるものではない。そうでなかったら、完全に安全が保証された場所に寿命が尽きるまで不自由なく暮らせたら勝ち、１番の幸せってことになるでしょ。そうじゃない。その違和感がvrや脳科学万能主義への違和感に直結している(誰かに出逢うには、惰性を断たなければいけない)
        p だから誰にでも責任はあるということだな。

      .para 
        p 涙は中間のAnswerであり最後のAnswerでもある

      .para 
        p 強さを手にしようとするたびに、挫かれた。
        p 正しさ、公理を求めすぎた。
        p 完全情報を求め、縋った。
        p 自分を信じるしかなかった。
        p でもそれでは弱すぎた。何もできないから。
        p 誰かを信じるには弱すぎた。
        p 貴方には強くあってほしかった。
        p 全く揺らがないで、不動に。
        p それなら信じられる、と思っていた俺が馬鹿だった。
        p 他人の弱さを受け入れられなかった。
        p でもそれは見ていなかっただけなのだ。
        p 悲しみは常にあった。誰かが俺を支えていた。
        p あの瞬間も、この瞬間も、あの出逢いも、俺は初めから救いの中にあったのだ。
        p それに触れた瞬間に誰かが泣いた。
        p でもすぐにそれを拒否した。それを認めたら、もう救われなくなると思ったから。
        p 俺にはまだ、神も仏も、情報も、真理も必要だったんだよ。

      .para 
        p それでも俺は縋っては、自分にも投影した他人にも、
        p 築きあげた情報体にも裏切られてしまったよ。
        p 素敵な生命の光も、今やただの記憶の一部だ。
        p 誰かの弱さを想い出した。
        p 不意に、素直に救われた。
        p 内分泌腺の自然な働きを妨害すれば、脳は多様な解釈を産み出す。現実に壁を作って力を手にしたところで自然の摂理には抗えない。生まれたら、死ぬのだ。生起したことは新しい流れに受け継がれなければ衰退するし、朝日もいつかは沈む。
        p 涙には理由も行き先もなかった。何でも理屈にしたがった俺もそれを悟った。涙や悲しみは人体の構造のように複雑すぎて、線では捉えられない。感謝も罪の意識も及ばなかった。それはただそれだったので、どうしようもなく泣くしかなかったのだ。そして一人で泣いているのではなかった。
        p こんな印象を運んだまま生きてていいのかとたまに思う。許されてることなのかなって。恐らく何かが犠牲になってる。その何かは知る由もないが。

      .lpara
        p 一人では生きられない。
        p 恋もしたいし、色んな人とも出逢いたいし、話したい。
        p 俺は一人じゃない。それでいいのかも。
        p 大きな流れの一人として俺にも責任があるし、誰でも責任がある。

    footer 
      p.page
        a(href="poem43.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem45.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.