html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 日
    link(rel="stylesheet", href="/styles/poem.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 日
      .para
        p 私の存在はあなたにとって何かの足しになりましたか？
        p 私はあなたほど愛に囚われていません。だから私は時に浮かれてしまうし、だらしなくも見えるでしょう。
        p ですが、これが私の最善を目指した姿です。

      .para
        p 私の感情や性愛が後付けであること、あなたは見破ってくれているでしょう。
        p 私は何も望んでいないといえばそうだし、だからこそ愛するしかないということを。
        p 私は愛すること以外に生きる術をなくしてしまったのです。

      .para
        p 足りますか？
        p 私の精一杯の生で、
        p 私の、一人一つの人生で

      .para
        p 手放せると思っていても、私は愛したかった。（それが私の最善を尽くした傲慢です）
        p 手放してもいいと委ねても、私達は愛されたかった。（罪というか負い目というか）

      .lpara
        p 明らかに私達は愛するために生まれてきたのです。

    footer 
      p.page
        a(href="poem39.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem41.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.