@import 'variables';
@import 'mixins';

body {
    main {
        font-family: "Hiragino Mincho Pro";
        margin-left: 22%;
        margin-right: 22%;

        @include respond-to("phone") {
            margin-left: 3%;
            margin-right: 3%;
        }
        @include respond-to("tablet") {
            margin-left: 17%;
            margin-right: 17%;
        }
        @include respond-to("large-tablet-small-desktop") {
            margin-left: 16%;
            margin-right: 16%;
        }

        .para {
            margin-bottom: 8%;
            @include respond-to("phone") {
                margin-bottom: 18%;
            }
            @include respond-to("tablet") {
                margin-bottom: 14%;
            }
            @include respond-to("large-tablet-small-desktop") {
                margin-bottom: 13%;
            }
        }
        .lpara {
            margin-bottom: 20%;
        }
        h1 {
            font-weight: normal;
            font-size: 52px;
            text-align: center;
            margin-top: 3%;
            margin-bottom: 9%;
            @include respond-to("phone") {
                margin-bottom: 15%;
            }
            @include respond-to("tablet") {
                margin-bottom: 15%;
            }
            @include respond-to("large-tablet-small-desktop") {
                margin-bottom: 15%;
            }
        }
        p {
            font-size: 20px;
            @include respond-to("phone") {
                font-size: medium;
            }
        }
        .song {
            margin-top: 5%;
            text-align: center;
            font-size: 15px;
            user-select: none;
            @include respond-to("phone") {
                font-size: 7px;
            }
        }
        video {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}

footer {
    margin-top: 9%;
    text-align: center;
    user-select: none;
    @include respond-to("phone") {
        font-size: 10px;
    }

    a {
        text-decoration: none;
        font-size: 25px;
        @include respond-to("phone") {
            font-size: 20px;
        }
        @include respond-to("tablet") {
            font-size: 23px;
        }
        @include respond-to("large-tablet-small-desktop") {
            font-size: 23px;
        }
        color: inherit;

        a:hover {
            text-decoration: none;
        }
    }
}